body,
html {
    font-family: "Sofia Pro", Arial, Helvetica, sans-serif !important;
    font-size: 13px;
    min-height: 100vh;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

.hamburger {
    display: none;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    display: none;
    pointer-events: none;
}

.overlay.open {
    opacity: .7;
    visibility: visible;
    display: block;
}


/* preloader (start) */

#preloader {
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000000ab;
}

.inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 54px;
    height: 54px;
    margin: auto;
}

.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}


/* preloader (end) */

.help-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 12px;
    color: #dc3545;
    font-weight: 200;
}

.has-error input {
    border-color: #dc3545 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #333;
    background-color: #333;
}

.paging {}

.paging nav {
    display: inline-block;
    margin: 0 auto;
}

.pagination a {
    color: #333;
    font-weight: 200;
    font-size: 14px;
}

.pagination .page-item.active .page-link {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.pagination .page-link:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent
}

a:hover {
    color: #333
}

.btn-black {
    background: #333;
    color: white;
}

.btn-black:hover {
    background: black;
    color: white;
}

.headroom {
    will-change: transform;
    transform-origin: top center;
}

.headroom--pinned {
    top: 0;
}

.headroom--unpinned {
    top: -200px !important;
}

.headroom--not-top {
    background: white;
    top: 0;
}

.headroom--top {
    top: 0;
}

.header {
    height: 160px;
    padding-top: 30px;
    position: fixed;
    z-index: 4;
    width: 100%;
    transition: .3s ease-in;
    background: white;
    top: 0
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 100, 210, 1) 0%, rgba(0, 100, 210, 1) 25%, rgba(118, 185, 0, 1) 25%, rgba(118, 185, 0, 1) 50%, rgba(148, 159, 24, 1) 50%, rgba(251, 188, 5, 1) 50%, rgba(251, 188, 5, 1) 75%, rgba(229, 9, 20, 1) 75%);
    height: 8px;
    width: 100%;
}

.header .logo {
    width: 22%;
}

a {
    color: #000
}

.header .logo img {
    width: 100%;
}

.header .search-area {
    width: 50%;
}

.header .search-area input {
    border-radius: 2px;
    padding-left: 40px;
    position: relative;
}

.header .search-area .btn {
    background: #333;
    color: white;
}

.header .search-area .search {
    width: 100%;
    position: relative;
}

.header .search-area .search label {
    display: none;
}

.header .search-area .search:before {
    content: "\f002";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    color: black;
    width: 40px;
    height: 40px;
    z-index: 1;
    text-align: center;
    padding-top: 7px;
}

.header .search-area .btn {
    border: 1px solid #ced4da;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    font-size: 14px;
    font-weight: 200;
}

.header .top-menu {
    position: relative;
    white-space: nowrap;
}

.header .top-menu>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header .top-menu>ul>li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header .top-menu>ul>li>a {
    border-radius: 2px;
    border: 1px solid #ced4da;
    display: inline-block;
    font-size: 13px;
}

.header .top-menu>ul>li>a:hover {
    background: #333;
    color: white;
}

.header .top-menu>ul>li .sub-menu {
    visibility: hidden;
    position: absolute;
    transition: all .2s ease;
    margin-top: 5px;
    right: 40%;
    max-height: 0;
    min-height: 0;
    padding: 0;
    width: 200px;
    background: #333;
    overflow: hidden;
    border-radius: 2px;
    padding: 0;
    color: white;
    padding: 10px;
    z-index: 2;
}

.header .top-menu>ul>li .sub-menu ul {
    list-style: none;
    padding: 0
}

.header .top-menu>ul>li:hover>.sub-menu,
.header .top-menu>ul>li .sub-menu:hover {
    visibility: visible;
    display: block;
    max-height: 400px;
    min-height: 100px;
}

.header .top-menu>ul>li .sub-menu a {
    color: white;
    padding: 8px 20px;
    display: block;
    text-align: right;
}

.header .top-menu>ul>li .sub-menu a.login,
.header .top-menu>ul>li .sub-menu a.register {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2px 0;
    text-align: right;
    transition: .2s ease;
}

.header .top-menu>ul>li .sub-menu a.login:hover,
.header .top-menu>ul>li .sub-menu a.register:hover {
    background: #000;
    text-decoration: none;
}

.header .top-menu>ul>li .sub-menu a.login i,
.header .top-menu>ul>li .sub-menu a.register i {
    float: left;
    margin-right: 10px;
    font-size: 18px;
}

.header .top-menu .shopping-cart-top .badge {
    padding: 6px 10px
}

.header .top-menu>ul>li .sub-menu hr {
    border-color: white
}

.header .menu a {
    color: white;
}

.header .menu {
    background: #eeeeee;
    margin: 25px 0 0 0;
}

.header .menu>ul {
    margin: 0 auto;
    z-index: 1;
    height: 100%;
    /* width: 100%; */
    padding-left: 0;
    display: inline-block;
}

.header .menu>ul>li {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #ced4da;
    box-shadow: 1px 0px 0px 0px white;
    padding: 0;
}

.header .menu>ul>li>a {
    text-decoration: none;
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    color: black;
    padding: 8px 30px;
    transition: .3s ease;
    border-bottom: 2px solid transparent;
    display: block;
    position: relative;
}

.header .menu>ul>li>a img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
    transition: .3s ease;
    display: block;
    margin: 0 auto 5px auto;
}

.header .menu>ul>li .sub-menu {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    transition: all .4s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 0;
    min-height: 0;
    padding: 0;
    width: 250px;
    background: #fff;
    overflow: hidden;
    border-top: 5px solid #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 0 30px;
}

.header .menu>ul>li .sub-menu.open {
    visibility: visible;
    display: block;
    max-height: 500px;
    min-height: 126px;
}

.header .menu>ul>li .sub-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .2;
}

.header .menu>ul>li .sub-menu .menu-subtitle {
    text-align: left;
    position: relative;
    bottom: -15px;
    left: -5px;
    font-weight: 700;
}

.header .menu>ul>li .sub-menu.kedi:before {
    background-image: url(/assets/frontend/img/kedi-menu.png);
}

.header .menu>ul>li .sub-menu.kopek:before {
    background-image: url(/assets/frontend/img/kopek-menu.png);
}

.header .menu>ul>li .sub-menu.kus:before {
    background-image: url(/assets/frontend/img/kus-menu.png);
}

.header .menu>ul>li .sub-menu.balik:before {
    background-image: url(/assets/frontend/img/balik-menu.png);
}

.header .menu>ul>li .sub-menu.surungen:before {
    background-image: url(/assets/frontend/img/surungen-menu.png);
}

.header .menu>ul>li .sub-menu.kemirgen:before {
    background-image: url(/assets/frontend/img/kemirgen-menu.png);
}

.header .menu>ul>li .sub-menu.diger:before {
    background-image: url(/assets/frontend/img/diger-menu.png);
}

.header .menu>ul>li .sub-menu ul {
    display: block;
    padding: 20px 0;
    margin: auto -13px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.header .menu>ul>li .sub-menu.kemirgen ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.header .menu ul li.has-children>a:after {
    content: "\f107";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;
    position: absolute;
    right: -8px;
    top: 13px;
}


/* .header .menu ul>li:hover>.sub-menu,
.header .menu ul>li .sub-menu:hover {
visibility: visible;
display: block;
max-height: 500px;
min-height: 500px;
} */

.header .menu>ul>li:hover>a,
.header .menu>ul>li:focus>a,
.header .menu>ul>li.active>a {
    box-shadow: inset 0px -10px 0px 0px #333;
}

.header .menu ul>li ul>li {
    clear: both;
    width: 100%;
    display: block;
    padding: 0;
    float: left;
    position: relative;
    margin: 1px 0
}

.header .menu ul li .sub-menu ul li a {
    display: block;
    color: #333;
    font-weight: 400;
    text-decoration: underline;
    transition: .2s ease-in-out;
    padding: 3px 0;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    position: relative;
}

.header .menu ul li .sub-menu h2 {
    color: #333;
    text-align: left;
    padding: 20px 0 0 0;
    position: relative;
    left: -13px
}

.header .menu ul li .sub-menu h2:after {
    content: "";
    background: #333;
    position: absolute;
    bottom: -5px;
    width: 5%;
    height: 5px;
    left: 0
}

.header .menu ul li .sub-menu .image {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    margin: 10px;
    padding: 30px;
    opacity: 0;
}

.header .menu ul li .sub-menu .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
    background: white;
}

.header .menu ul li ul li:last-child a {
    border-bottom: 0;
}

.header .menu ul li ul li a:hover {
    color: #333
}


/* Main page slider */

.main-carousel {
    width: 100%;
    height: 400px;
    margin: 30px auto;
    z-index: 0;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 200px;
}

.main-carousel .owl-nav button {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    transition: .3s ease;
    background: white !important;
}

.main-carousel .owl-item,
.main-carousel .owl-stage {
    height: 400px;
}

.main-carousel .owl-nav button:hover {
    background: #333 !important;
}

.main-carousel .owl-nav button i {
    font-size: 2em !important;
}

.main-carousel .owl-nav button.owl-next {
    right: 0;
}

.main-carousel .owl-nav button.owl-prev {
    left: 0;
}

.main-carousel .item img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 400px;
}


/* Brands area */

.brands .brand-item {
    text-align: center;
    text-decoration: none;
}

.brands .brand-item:hover img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.brands .brand-item .name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
}

.brands .brand-item img {
    width: 100%;
    border: 1px solid #ced4da;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 10px;
    transition: .3s ease;
}

.banner-area img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


/* Products area */

.products {
    margin: 20px 0;
    clear: both;
    /*display: block;*/
}

.product-carousel .owl-nav button {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    transition: .3s ease;
    background: Red;
}

.product-carousel .item img {
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
}

.product-carousel .owl-nav button:hover {
    background: #333 !important;
}

.product-carousel .owl-nav button {
    font-size: 2em !important;
}

.product-carousel .owl-nav button.owl-next {
    right: 0;
}

.product-carousel .owl-nav button.owl-prev {
    left: 0;
}

.product-carousel .owl-carousel .owl-stage-outer {
    height: calc(100% + 30px);
    margin: -15px;
    padding: 15px;
    width: calc(100% + 30px);
}

.title {
    font-size: 30px;
    position: relative;
    margin: 20px 0 0 0
}

.title span {
    background: white;
    display: inline-block;
    text-align: center;
    padding: 5px 20px 5px 0;
    position: relative;
}

.title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 23px;
    width: 100%;
    height: 2px;
    background: #333
}

.products .item {
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    transition: .3s ease;
}

.products .item:hover {
    color: #333;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.products .item.out-of-stock {
    opacity: .4;
}

.products .item .name {
    font-size: 15px;
    text-align: center;
    line-height: 16px;
    padding: 10px 35px;
    height: 100px;
    position: relative;
    z-index: 1;
}

.products .item .desc {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    padding: 10px;
    height: 75px;
}

.products .item .add-to-cart {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: .2s ease;
    text-align: center;
}

.products .item .add-to-cart:hover {
    box-shadow: inset 0 0 10px #eee
}

.products .item .add-to-cart i {
    transition: .5s ease;
}

.products .item .add-to-cart:hover i {
    margin-left: 10px;
}

.products .item .add-to-cart.added {
    background: #D31C2F;
    color: white;
}

.products .item .add-to-cart .price {
    font-size: 24px;
    letter-spacing: -1px;
}

.products .item .add-to-cart .old-price {
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 10px;
    font-weight: 100;
    text-decoration: line-through;
}

.products .item .add-to-cart .icon {
    border-left: 1px solid #ced4da;
    position: absolute;
    font-size: 26px;
    right: 5px;
    top: 10px;
    height: 30px;
    padding-left: 5px;
}

.products .item .add-to-cart .old-price {
    font-size: 13px;
}

.info-bar {
    background: #333;
    color: white;
    width: 100%;
    height: auto;
    border-radius: 0;
}

.info-bar .free-shipping {
    text-align: center;
    padding: .5em 0em;
    text-align: center;
    background: #dc3545;
    color: white;
    font-size: 1.2em;
    margin: 1em 0
}

.info-bar div>div {
    width: 33%;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin: 0 30px;
    padding: 15px 0
}

.info-bar img {
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 10px;
}

.instagram {
    display: block;
    min-height: 450px;
}

.instagram .instagram-image img {
    height: 100%;
}

.instagram .instagram_profile_image {
    object-fit: contain;
    height: auto;
}


/* Footer */

.footer {
    position: relative;
    /*height: 300px;*/
    padding-top: 30px;
    background: #eeeeee
}

.footer .footer-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px
}

.footer .footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer .footer-menu ul li>a {
    padding: 3px 0;
    display: block;
    font-weight: 200;
    text-decoration: underline;
}

.footer .footer-menu ul li>img {
    display: block;
    width: 15px;
    height: 15px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 4px;
}

.footer .footer-menu .social-media a {
    font-size: 20px;
    border: 1px solid gray;
    padding: 3px 9px 0px 9px;
    margin: 3px 0;
    display: inline-block;
}

.footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 100, 210, 1) 0%, rgba(0, 100, 210, 1) 25%, rgba(118, 185, 0, 1) 25%, rgba(118, 185, 0, 1) 50%, rgba(148, 159, 24, 1) 50%, rgba(251, 188, 5, 1) 50%, rgba(251, 188, 5, 1) 75%, rgba(229, 9, 20, 1) 75%);
    height: 8px;
    width: 100%;
}

.footer .iyzico {
    mix-blend-mode: multiply;
}

.list-area .title-area {
    background: #EFEFEF;
    padding: 20px;
    color: #333;
    font-weight: 700;
}

.list-detail .row-item {
    border-bottom: 1px solid #eee;
}

.favorite-img {
    width: 100%;
    padding: 5px;
    border: 1px solid #eeeeee;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: -15px;
}

.sub-page {
    margin: 175px 0 100px 0;
    min-height: 400px;
}


/* Product detail page */

.sub-page.single-product .single-product-carousel {
    width: 100%;
    border: 1px solid #e7e7e7;
    position: relative;
}

.sub-page.single-product .single-product-carousel .owl-next,
.sub-page.single-product .single-product-carousel .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    font-size: 20px;
    padding: 12px 10px !important;
    box-shadow: none;
    height: 50px;
    background: none;
    outline: none;
    transition: .3s ease;
}

.sub-page.single-product .single-product-carousel .owl-next:hover,
.sub-page.single-product .single-product-carousel .owl-prev:hover {
    color: black;
    opacity: .5;
}

.sub-page.single-product .single-product-carousel .owl-next {
    right: 0
}

.sub-page.single-product .single-product-carousel .owl-prev {
    left: 0
}

.sub-page.single-product .single-product-carousel .item img {
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}

.sub-page.single-product .single-product-carousel .owl-thumb-item img {
    width: 100px;
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1px solid #e7e7e7;
}

.sub-page.single-product .single-product-carousel .owl-thumbs {
    display: table;
    width: 100%;
    text-align: center;
    padding: 2%;
}

.sub-page.single-product .single-product-carousel .owl-thumb-item {
    display: table-cell;
    border: none;
    background: none;
    padding: 0;
    opacity: .4;
    margin-right: 10px;
}

.sub-page.single-product .single-product-carousel .owl-thumb-item.active {
    opacity: 1;
}

.sub-page.single-product .single-product-detail {
    height: 100%;
}

.sub-page.single-product .single-product-detail p {
    margin-bottom: 5px
}

.sub-page.single-product .single-product-detail hr {
    margin: 0 0 10px 0
}

.sub-page.single-product .single-product-detail h1 {
    font-size: 24px;
    position: relative;
    padding-right: 30px;
}

.sub-page.single-product .single-product-detail h1 .favorite-btn {
    position: absolute;
    right: 0;
}

.sub-page.single-product .single-product-detail .price {
    font-size: 24px;
}

.sub-page.single-product .single-product-detail .old-price {
    text-decoration: line-through;
}

.sub-page.single-product .single-product-detail a {
    text-decoration: underline;
}

.sub-page.single-product .single-product-detail .btn-minus,
.sub-page.single-product .single-product-detail .btn-plus {
    background: #EFEFEF;
    border-radius: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #EFEFEF;
}

.sub-page.single-product .single-product-detail .count {
    background: white;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 24px;
    height: 60px;
    width: 100px;
    text-align: center;
    border: 1px solid #EFEFEF;
}

.sub-page.single-product .single-product-detail .price {
    font-size: 2em;
    padding-top: 10px;
    text-align: right;
    margin-bottom: -20px;
}

.sub-page.single-product .single-product-detail .price .amount {
    text-decoration: line-through;
}

.sub-page.single-product .single-product-detail .price .currency {
    font-family: arial;
    font-weight: normal;
}

.sub-page.single-product .single-product-detail .discount-price {
    font-size: 2em;
    text-align: right;
    font-weight: 100;
}

.sub-page.single-product .single-product-detail .discount-price .amount {
    text-decoration: line-through;
}

.sub-page.single-product .single-product-detail .discount-price .currency {
    font-family: arial;
    font-weight: normal;
}

.sub-page.single-product .single-product-detail .free-shipping{
    width: 100%;
    float: right;
}

.sub-page.single-product .single-product-detail .free-shipping span{
    float: right;
    text-align: center;
    font-size: 12px;
    padding: 6px 8px 2px 8px;
    border: 2px solid;
    border-radius: 4px;
    line-height: 1.4;
}

.sub-page.single-product .single-product-detail .latest-price {
    font-size: 4em;
    text-align: right;
    letter-spacing: -3px;
    position: relative;
}

.sub-page.single-product .single-product-detail .latest-price .discount {
    background: #D31C2F;
    color: white;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 13px;
    letter-spacing: 0px;
    padding-top: 15px;
    position: absolute;
    border-radius: 100%;
    right: 0;
    top: -35px;
    line-height: 15px;
}

.sub-page.single-product .single-product-detail .latest-price .discount span:first-child {
    font-size: 18px;
    font-weight: 700;
}

.sub-page.single-product .single-product-detail .latest-price .currency {
    font-family: arial;
    font-weight: normal;
}

.sub-page.single-product .single-product-detail .basket-info {
    float: right;
    color: #db3442;
}

.sub-page.single-product .single-product-detail .add-to-cart {
    background: #333;
    color: white;
    height: 60px;
    width: 50%;
    float: right;
    font-size: 1.5em;
    border-radius: 0;
    transition: .2s ease-in-out;
    text-decoration: none;
    padding: 16px;
}

.sub-page.single-product .single-product-detail .add-to-cart:hover,
.sub-page.single-product .single-product-detail .add-to-cart:focus {
    transform: scale(.98);
}

.sub-page.single-product .detail-bottom .nav-tabs .nav-link {
    border-radius: 0;
    font-size: 16px;
    color: #333;
    padding: 20px;
    background: #fff;
    transition: .3s ease;
    border: 0;
    font-weight: 100;
}

.sub-page.single-product .detail-bottom .tab-content {
    max-height: 400px;
    overflow-x: hidden;
}

.sub-page.single-product .detail-bottom .tab-content::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.sub-page.single-product .detail-bottom .tab-content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.sub-page.single-product .detail-bottom .tab-content::-webkit-scrollbar-thumb {
    background-color: #333;
}

.sub-page.single-product .detail-bottom .nav-tabs .nav-link.active,
.sub-page.single-product .detail-bottom .nav-tabs .nav-link:hover {
    box-shadow: inset 0px -10px 0 #333;
    border: 0;
}


/* Shopping cart */

.shopping-cart .cart-navigation .status {
    height: 60px;
    position: relative;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: .3;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 30%;
    float: left;
    margin-right: 50px;
}

.shopping-cart .cart-navigation .status span {
    position: absolute;
    bottom: -25px;
    display: block;
    text-align: left;
    width: 50%;
    padding: 0 8px;
}

.shopping-cart .cart-navigation .status:after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: black;
    right: -5%;
    top: 50%;
}

.sub-page.shopping-cart .cart-navigation .cart {
    background-image: url('../img/cart-icon.svg');
    background-size: 50px 50px;
}

.sub-page.shopping-cart .cart-navigation .adress {
    background-image: url('../img/address-icon.svg');
    background-size: 60px 60px;
}

.sub-page.shopping-cart .cart-navigation .payment {
    background-image: url('../img/payment-icon.svg');
    background-size: 50px 50px;
}

.sub-page.shopping-cart .cart-navigation .payment {
    width: 50px;
    margin-right: 0;
}

.sub-page.shopping-cart .cart-navigation .payment:after {
    display: none;
}

.sub-page.shopping-cart .cart-navigation .active {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.sub-page.shopping-cart .cart-navigation {
    width: 66%;
    margin: 0 auto;
    background: white;
    height: 60px;
    padding-left: 10%
}

.sub-page.shopping-cart .cart-detail {
    margin-top: 50px;
}

.sub-page.shopping-cart .cart-detail .cart-titles {
    background: #EFEFEF;
    padding: 20px;
    color: #333;
}

.sub-page.shopping-cart .cart-detail .total-price {
    position: relative;
    top: 8px;
}

.sub-page.shopping-cart .cart-detail .btn-minus,
.sub-page.shopping-cart .cart-detail .btn-plus {
    background: #EFEFEF;
    margin: 10px 0;
    border-radius: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #EFEFEF;
}

.sub-page.shopping-cart .cart-products .product-item {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0
}

.sub-page.shopping-cart .cart-products .product-item img {
    width: 90px;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1px solid #e7e7e7;
    margin: 3px 0
}

.sub-page.shopping-cart .cart-detail .count {
    background: white;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 15px;
    margin: 10px 0;
    width: 75px;
    text-align: center;
    border: 1px solid #EFEFEF;
    height: 50px;
}

.sub-page.shopping-cart .cart-detail .quantity-warning {
    display: none;
    position: absolute;
    bottom: 4px;
    width: 175px;
    text-align: center;
    color: #db3442;
    text-decoration: underline;
    cursor: pointer;
}

.sub-page.shopping-cart .cart-summary {
    border: 1px solid #F9F9F9;
    margin-top: 15px;
}

.sub-page.shopping-cart .cart-summary .coupon-area {
    display: none;
}

.sub-page.shopping-cart .cart-summary .row>div {
    padding: 10px 20px
}

.sub-page.shopping-cart .cart-summary .row>div.col-md-4 {
    text-align: right;
}

.sub-page.shopping-cart .cart-summary .total {
    font-size: 24px;
    background: #F9F9F9;
    padding: 10px;
    margin-right: -15px;
    margin-left: -15px;
}


/* Register/Login page */

.sub-page.login-register {}

.sub-page.login-register a {
    text-decoration: underline;
}

.sub-page.login-register .login-form {}

.sub-page.login-register .register-form {}

.sub-page.login-register .register-form .sub-title {
    font-weight: 900;
    font-size: 18px;
}

.register-form .sign-buttons a {
    text-align: right;
}

.sub-page.login-register .nav-tabs .nav-link {
    border-radius: 0;
    font-size: 16px;
    color: #333;
    padding: 20px;
    background: #fff;
    transition: .3s ease;
    border: 0;
    font-weight: 100;
    text-decoration: none;
}

.sub-page.login-register .nav-tabs .nav-link.active,
.sub-page.login-register .nav-tabs .nav-link:hover {
    box-shadow: inset 0px -10px 0 #333;
    border: 0;
}

.sub-page.login-register .form-wrapper {
    width: 66%;
    margin: 0 auto;
    display: block;
}

.shopping-cart .cart-adress-detail {
    margin-top: 50px;
}

.shopping-cart .cart-payment-detail {
    margin-top: 50px;
}

.shopping-cart .cart-payment-detail .cart-payment-titles {
    background: #EFEFEF;
    padding: 20px;
    color: #333;
}

.shopping-cart .cart-payment-detail .payment-item .cash {
    background: #EFEFEF;
    padding: 25px;
    color: #333;
    margin: 10px 0;
    cursor: pointer;
}

.shopping-cart .cart-payment-detail .payment-item .cash-content {
    background: white;
    padding: 25px;
    border: 1px solid #fbfbfb;
    margin: 0;
    overflow: hidden;
}

.shopping-cart .cart-payment-detail .payment-item .credit-card {
    background: #EFEFEF;
    padding: 25px;
    color: #333;
    margin: 10px 0;
}

.shopping-cart .cart-payment-detail .payment-item .credit-card-content {
    background: white;
    padding: 25px;
    color: #333;
    margin: 0;
    overflow: hidden;
}

.shopping-cart .cart-payment-detail .total {
    background: #F9F9F9;
    font-size: 20px;
    padding: 15px 0;
}

.shopping-cart .cart-adress-detail .cart-adress-titles {
    background: #EFEFEF;
    padding: 20px;
    color: #333;
}

.shopping-cart .cart-adress-detail .btn-remove {
    position: absolute;
    right: 0;
    top: calc(50% - 20px);
}

.shopping-cart .cart-new-adress .new-adress-title {
    background: #F9F9F9;
    padding: 15px;
    margin: 5px 0;
}

.shopping-cart .cart-new-adress .form-control {
    margin: 10px 0;
    border-color: #e7e7e7;
    height: 50px;
    border-radius: 0;
}

.shopping-cart .cart-new-adress select {
    margin: 10px 0;
    height: 50px;
    border-radius: 0;
    border-color: #e7e7e7;
}

.shopping-cart .cart-result {
    margin: 150px 0 0 0;
}

.shopping-cart .cart-result>img {
    margin: 0 auto;
    width: 170px;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
}

.shopping-cart .cart-result #payment-card {
    display: inline-block;
}

#iyz-checkout-form-button {
    display: none;
}

.shopping-cart .cart-result .message {
    text-align: center;
    font-size: 1.3em;
    margin: 25px auto;
}

.shopping-cart .cart-result .message .info {
    margin: 15px 0
}

.shopping-cart .cart-result .adress {
    margin-top: 15px;
}

.shopping-cart .cart-result .adress .adress-title {
    background: #EFEFEF;
    padding: 20px;
}

.shopping-cart .cart-result .adress .adress-content {
    border: 1px solid #EFEFEF
}

.shopping-cart .cart-result .adress .adress-content div {
    padding: 20px;
}

.sub .sub-title {
    font-size: 2em;
}

.sub-page.profile .left-menu ul {
    margin: 0;
    padding: 0
}

.sub-page.profile .left-menu ul li {
    list-style: none;
    padding: 0;
    margin: 2px 0;
}

.sub-page.profile .left-menu ul li a {
    color: #333;
    padding: 15px 10px;
    display: block;
    font-size: 16px;
    text-decoration: none;
}

.sub-page.profile .left-menu ul li a:hover {
    background: #EFEFEF
}

.sub-page.profile .left-menu ul li a.active {
    background: #EFEFEF
}

.sub-page.profile .left-menu ul li a.logout {
    border: 1px solid #efefef
}

.sub-page.profile .left-menu ul li a.logout i {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.sub-page.profile .adress-form .row>div {
    padding: 10px;
}

.sub-page .sub-title {
    font-size: 20px;
}


/* Product list */

.product-list {
    width: 100%;
    margin-top: 10px;
    float: left;
}

.product-list .product-list-item {}

.product-list .product-list-item:hover {
    color: #333;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.product-list .product-list-item .image img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 150px;
}

.sort-filter {
    text-align: right;
    margin-right: 15px;
}

.sort-filter .form-group {
    display: inline-block;
}

.image span.discount {
    position: absolute;
    top: 0;
    left: 0px;
    background: #dc3545;
    color: #fff;
    padding: 10px 5px;
    font-size: 13px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    white-space: nowrap;
}

.product-list .products {
    margin-top: 0
}

.sub-page .filter {
    margin-top: 15px
}

.sub-page .filter>h2 {
    font-size: 18px;
    font-weight: 500;
}

.sub-page .filter h4 {
    font-size: 15px;
    font-weight: 500;
    background: #333;
    color: white;
    display: inline-block;
    padding: 5px 8px;
    margin: 0;
    line-height: 19px;
    margin-bottom: 10px
}

.sub-page .filter .filter-box {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 2px;
    margin: 0 0 20px 0;
    max-height: 230px;
    overflow-y: scroll;
}

.sub-page .filter .filter-box::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}

.sub-page .filter .filter-box::-webkit-scrollbar {
    width: 6px;
    background-color: #EFEFEF;
}

.sub-page .filter .filter-box::-webkit-scrollbar-thumb {
    background-color: #333333;
}

.sub-page .filter .filter-box label {
    line-height: 25px;
}

.sub-page .filter .filter-box #nonlinear {
    margin: 10px 10px;
}

.product-list .product-list-item .price {
    font-weight: 600;
}

.product-list .product-list-item .price span {
    font-family: arial;
    font-weight: normal;
}

.product-list .navigation {
    display: inline-block;
}

.cookie-fixed {
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    z-index: 1111;
    background-color: #000000bd;
    color: #fff;
    font-weight: 600;
    padding: 25px 10px 15px 10px;
    font-size: 13px;
    line-height: 1.5;
    overflow: hidden;
    transition: .5s ease;
}

.cookie-fixed.hide {
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
}

.cookie-fixed .cookie-text a {
    color: #fff;
    text-decoration: underline;
}

.cookie-fixed .cookie-text {
    width: 90%;
}

.cookie-fixed .cookie-close {
    background: white;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right: 0;
    top: 0;
    text-align: center;
    padding-top: 8px;
    color: black
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.whatsapp-area {
    width: 100%;
    float: left;
    position: fixed;
    bottom: 20px;
    z-index: 1;
}

.whatsapp-area .w-icon {
    float: right;
    margin-right: 30px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 1;
}

.whatsapp-area .w-icon i {
    padding: 6px;
    font-size: 50px;
    color: #fff;
    background-color: #25d366;
    border-radius: 40px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
}

.whatsapp-area .w-popup {
    display: none;
    width: 400px;
    float: right;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 2;
}

.whatsapp-area .w-popup .head {
    width: 100%;
    float: left;
    background-color: #2e8c7d;
    padding: 18px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.whatsapp-area .w-popup .head .logo {
    float: left;
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    position: relative;
    top: -7px;
}

.whatsapp-area .w-popup .head .logo i {
    font-size: 37px;
    position: relative;
    top: 6px;
}

.whatsapp-area .w-popup .head .close {
    float: right;
    color: rgba(255, 255, 255, .5);
    font-size: 37px;
}

.whatsapp-area .w-popup .content {
    width: 100%;
    float: left;
    background: url(../img/wp-background.png);
    background-size: 450px;
    padding: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.whatsapp-area .w-popup .content .text {
    position: relative;
    width: 100%;
    float: left;
    background-color: #fff;
    font-size: 16px;
    padding: 22px;
    border-radius: 30px;
    box-shadow: 0px 1px 5px 0px rgba(168, 166, 168, 1);
    margin-bottom: 50px;
}

.whatsapp-area .w-popup .content .text::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 30px;
    left: -18px;
    width: 18px;
    height: 18px;
    background: url(../img/wp-ok.png);
    background-size: 100%;
}

.whatsapp-area .w-popup .content .open-btn {
    float: right;
    padding: 11px 10px;
    color: #fff;
    line-height: 1;
    background-color: #2e8c7d;
    border-radius: 40px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    text-decoration: none;
    position: relative;
    right: -10px;
    bottom: -15px;
}

.whatsapp-area .w-popup .content .open-btn span {
    font-size: 18px;
    position: relative;
    top: -9px;
    margin-right: 15px;
    margin-left: 10px;
}

.whatsapp-area .w-popup .content .open-btn i {
    font-size: 40px;
    transform: rotate(90deg);
}

.tag-list {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.tag-list .item {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background: #efefef;
    border: 1px solid #ececec;
    position: relative;
}

.sub-page.shopping-cart .cart-discount .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sub-page .brand-view .brand-info .logo img {
    width: 200px;
    height: 200px;
    border: 2px solid #e7e7e7;
    border-radius: 100px;
    margin: 0 auto
}

.sub-page .brand-view .brand-info .logo {
    text-align: center;
    margin-bottom: 20px
}

.sub-page .brand-view .brand-info .desc {
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 25px 0
}

.go-to-product {
    padding: 5px;
    text-align: center;
}

.invitation-input {
    padding: 15px;
    height: 50px;
    border-radius: 0;
    border-color: #e7e7e7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    width: 80%;
    float: left;
}

.invitation-input:focus {
    border: 1px solid #ced4da;
}

.invitation-btn {
    width: 20%;
    float: left;
    color: #fff;
    background: #000;
    text-align: center;
    height: 50px;
    padding: 20px;
    line-height: 0.8;
}

.invitation-btn:hover {
    color: #fff;
    text-decoration: none;
}

.add-to-cart #product-discount-price {
    text-decoration: line-through;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-weight: 200;
}

.brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands .brand-item {
    width: 15%;
}

@media only screen and (max-width: 768px) {
    .header {
        height: 100px;
        padding-top: 3px;
        background: #EFEFEF;
        box-shadow: 0 4px 0 0px rgba(0, 0, 0, 0.3);
    }
    .header .logo {
        width: 100%;
        display: block;
        text-align: center;
    }
    .header .top-menu>ul>li .sub-menu {
        left: 0;
    }
    .header .logo img {
        width: 77%;
        margin: 10px auto
    }
    .header .search-area {
        width: 100%;
        padding: 10px
    }
    .header .top-menu {
        margin: 5px 0;
    }
    .header .top-menu>ul {}
    .hamburger {
        display: inline-block !important;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
    }
    .header .menu>ul {
        width: 100%;
    }
    .header .menu>ul>li>a {
        text-align: left;
        padding: 10px
    }
    .header .menu>ul>li>a:after {
        transition: .2s ease;
        content: "\f107";
        font-family: 'Line Awesome Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        position: absolute;
        right: 10px;
        top: 20px;
    }
    .header .menu>ul>li>a img {
        margin: 0;
        display: inline-block;
        margin-right: 20px;
    }
    .header .menu>ul>li {
        display: block;
        border-right: 0;
        box-shadow: none;
        border-bottom: 1px solid #ced4da;
        overflow: hidden;
    }
    .header .menu>ul>li .sub-menu {
        position: relative;
        border-top: 0;
    }
    .header .menu>ul>li:hover>a,
    .header .menu>ul>li:focus>a,
    .header .menu>ul>li.active>a {
        box-shadow: none;
    }
    .header .menu>ul>li:hover>a:before,
    .header .menu>ul>li:focus>a:before,
    .header .menu>ul>li.active>a:before {
        transform: rotate(180deg);
    }
    .header .menu {
        white-space: nowrap;
        overflow-y: scroll;
        height: 0;
        margin: 0
    }
    .header .top-menu .shopping-cart-top .badge {
        padding: 4px 6px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    /* Main carousel  */
    .main-carousel {
        height: auto;
        margin-top: 120px;
        border-radius: 0;
    }
    .main-carousel .item img {
        height: auto;
    }
    .main-carousel .owl-item,
    .main-carousel .owl-stage {
        height: auto;
    }
    .whatsapp-area {
        bottom: 0;
    }
    .whatsapp-area .w-popup {
        width: 290px;
    }
    .whatsapp-area .w-icon {
        margin-right: 6px;
        bottom: 6px;
    }
    .footer .footer-title {
        margin-bottom: 5px;
        margin-top: 10px
    }
    .info-bar div>div {
        margin: 0 10px;
        font-size: 13px;
    }
    .info-bar img {
        height: 50px;
        margin: 20px auto;
        display: block;
    }
    .brands .brand-item {
        width: 50%;
        float: left;
        margin-bottom: 20px
    }
    .sub-page.shopping-cart .cart-navigation {
        width: 100%;
        padding: 0
    }
    .shopping-cart .cart-navigation .status {
        margin-right: 20px;
    }
    .instagram {
        min-height: 330px;
    }
    .title {
        font-size: 18px;
    }
    .title span {
        padding: 5px
    }
    .sub-page {
        margin-top: 150px;
    }
    .sub-page .filter>h2 {
        background: #333333;
        padding: 10px;
        color: white;
        border-radius: 3px;
        position: relative;
    }
    .sub-page .filter>h2:after {
        content: "\f107";
        font-family: 'Line Awesome Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        position: absolute;
        right: 10px;
        top: 10px;
        color: white
    }
    .sub-page .filter {
        max-height: 45px;
        overflow: hidden;
        transition: .3s ease;
    }
    .sub-page .filter.open {
        max-height: 100%;
    }
    .sub-page .filter .filter-box {
        max-height: 50px;
        transition: .3s ease;
        margin: 5px 0;
        overflow-y: hidden;
    }
    .sub-page .filter .filter-box.open {
        max-height: 300px;
        overflow-y: scroll;
    }
    .sub-page .filter h4 {
        display: block;
        background: none;
        color: #333333;
        position: relative;
    }
    .sub-page .filter h4:after {
        transition: .2s ease;
        content: "\f107";
        font-family: 'Line Awesome Free';
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        position: absolute;
        right: 5px;
        top: 5px;
        color: #333333
    }
    .sub-page .filter h4.open:after {
        transform: rotate(180deg);
    }
    .sub-page .filter .filter-box #nonlinear {
        margin-top: 20px;
    }
    .sub-page.single-product .single-product-detail h1 {
        margin: 20px 0
    }
    .sub-page.single-product .single-product-detail .count {
        width: 60px;
        height: 60px;
        font-size: 18px;
        padding-left: 10px
    }
    .overlay {
        display: none !important;
    }
    .shopping-cart .cart-navigation {
        display: flex !important;
        justify-content: space-between !important;
    }
    .shopping-cart .cart-navigation .status:after {
        right: -25%
    }
    .main-carousel .owl-nav button i {
        font-size: 1em !important;
    }
    .main-carousel .owl-nav button {
        width: 25px;
        height: 25px;
    }
    .sub-page.login-register .form-wrapper {
        width: 100%;
    }
    .sub-page.single-product .single-product-detail .add-to-cart {
        font-size: 1.2em;
    }
    .sub-page.shopping-cart .cart-detail .total-price {
        font-size: 1.3em;
    }
    .sub-page.shopping-cart .cart-detail .count {
        padding: 0
    }
    .register-form .sign-buttons a {
        text-align: center;
        margin: 15px 0;
        color: white;
        background: #333;
        text-decoration: none;
        padding: 10px 0;
        border-radius: 3px;
    }
    .sub-page.shopping-cart .cart-products .product-item {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 7.5px;
        margin: 10px 0
    }
    .sub-page.shopping-cart .btn.btn-remove {
        display: flex;
        background: red;
        color: white;
    }
    .sub-page.shopping-cart .cart-discount .btn {
        display: flex;
        align-items: center;
    }
    .header .top-menu {
        white-space: inherit;
    }
    .brands .brand-item {
        width: 50%;
    }
    .footer {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .brands .brand-item {
        width: 33%;
    }
}