@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-UltraLight.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-ExtraLight.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-SemiBold.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-Bold.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-Black.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-Light.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/assets/frontend/fonts/subset-SofiaPro-Medium.woff2') format('woff2'), url('/assets/frontend/fonts/subset-SofiaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}